<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.freelance.shido.testapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <!--<action android:name="android.intent.action.VIEW" />-->
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!--<category android:name="android.intent.category.BROWSABLE" />-->
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <!--<data android:scheme="http" android:host="www.example.com" android:pathPrefix="/shido" />-->
                <!-- note that the leading "/" is required for pathPrefix-->
                <!-- Accepts URIs that begin with "example://shido” -->
                <!--<data android:scheme="example" android:host="shido" />-->
            </intent-filter>
        </activity>
    </application>

</manifest>